h1{
	color: orange;
	text-align: center;
}

h5 {
	font-weight: bold;
	color: brown;
}

hr{
	color: orange;
}

h4 {
	text-decoration: underline;
}

h3 {
     color: orange;
     text-align: center;
}
}

p {
	text-align: center;
}


body{
	background-color: lightgrey;
}

#tope {

	right: 80px;
	position: absolute;
	top: 3px
}

@media only screen and (min-width: 600px)
{
	[class*="col-md"] 

	{
		width: 100%;
	}
}

main{
	text-align: center;
}





















}